@import '../utils/Variables.scss';
@import '../utils/Typography.scss';

.collapse {
    margin-bottom: 2rem;
    width: 100%;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        width: 100%;
        padding: 0 1.5rem;
        background-color: $primary;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    
        @media (max-width: 768px) {
            height: 30px;
        }
    }

    &-title {
        @include d_collapseHeader;
        margin: 0;
        
        @media (max-width: 768px) {
            @include m_collapseHeader;
        }
    }

    &-body {
        @include d_collapseBody;
        display: none;
        min-height: 13vh;
        padding: 2rem 1rem 1rem;
        background-color: $backgroundLight;
        border-radius: 5px;
        
        &--opened {
            display: block;
        }
        
        & > ul {
            padding: 0;
            margin: 0;
        }
        
        @media (max-width: 768px) {
            @include m_collapseBody;
            min-height: 10vh;
            padding: 0.8rem 1rem;
        }
    }
}