@import '../utils/Variables.scss';
@import '../utils/Typography.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    padding: 5vh 0 5vh;
    
    @media (max-width: 768px) {
        margin: 0 1rem;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 34px;
    }

    &-navlink {
        @include d_navbar;
        margin-left: 3rem;
        color: $primary;
        
        &.active{
            text-decoration: underline;
        }
        
        @media (max-width: 768px) {
            @include m_navbar;
            margin-left: 1.5rem;
        }
    }
}