@import '../utils/Variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    padding: 5vh 0 5vh;
    
    @media (max-width: 768px) {
        margin: 0 1rem;
    }

    &-nav {
        height: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-navlink {
        font-size: 24px;
        margin-left: 3rem;
        color: $primary;
        &.active{
            text-decoration: underline;
        }
            
        @media (max-width: 768px) {
            font-size: 1rem;
            margin-left: 1.5rem;
        }
    }
}