@import '../utils/Variables.scss';

.profile {
    display: flex;
    justify-content: flex-end;

    &-name {
        font-size: 1rem;
        font-weight: 500;
        text-align: right;
        line-height: 32px;
        margin-right: 0.8rem;
    }

    &-picture {
        width: 64px;
        height: 64px;
        background-color: lightgray;
        border-radius: 50%;
    }
}