@import '../utils/Variables.scss';

.rating {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 768px) {
        align-items: center;
    }
    
    &-icon {
        height: 30px;
        
        @media (max-width: 768px) {
            height: 15px;
        }
    }
}