@import '../utils/Variables.scss';

.tag {
    height: 2rem;
    line-height: 2rem;
    padding: 0 2rem;
    margin-right: 2rem;
    color: $fontLight;
    background-color: $primary;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
  
    @media (max-width: 768px) {
      padding: 0 2rem;
      font-size: 0.6rem;
    }
}